


#light{
    --bg-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100px;
    width: 100%;
  }

#dark{  
    
    --bg-color: rgb(29, 29, 32);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100px;
    width: 100%;
    color:white
  
}

body{
    background: var(--bg-color,white);
   
}


